<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Frequently Asked Questions</h1>
            <h3>Where does the information on this site come from?</h3>
            <p>
                The information on this site comes directly from the <a href="http://www.parliament.uk">parliament.uk</a> website.
                The text for each Bill is joined together from multiple pages and some reformatting done to make it easier to read.
            </p>
            <p>
                Some details about member (such as their photographs) are provided by <a href="http://theyworkforyou.com">TheyWorkForYou</a>.
            </p>
            <h3>Why can't I find a Bill I'm looking for?</h3>
            <p>
                Check the "Pending" Bills tab on the homepage. Sometimes it can take several days for the text for a Bill
                to be made available. In some cases no text for a Bill is ever provided (and the the Bill is subsequently dropped).
            </p>
            <p>
                 Once a Bill has reached the Royal Assent stage (and is about to be enacted) it's no longer available here.
                 Once a Bill has been enacted it is published on <a href="http://www.legislation.gov.uk">legislation.gov.uk</a>.
            </p>
            <p>
                Currently there is no way to search Bills, but this will be added soon.
            </p>
            <p>
                Bills before the Scottish Parliament are not yet available to view on the web (though they are available for download as PDF documents)
                and are not published here.
            </p>
            <h3>Why can't I find an MP or Lord I'm looking for?</h3>
            <p>
                Only members who have sponsored a Bill currently have profiles on the site. In future all members will have profiles.
            </p>
            </p>
            <h3>What do the colors next to members names signify?</h3>
            <p>
                They are colour coded according to the Party the member belongs to.
            </p>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <span class="member" data-party="Conservative">
                            <i class="fa fa-lg fa-user"></i>
                            Conservative Party
                        </span>
                    </p>
                    <p>
                        <span class="member" data-party="Labour">
                            <i class="fa fa-lg fa-user"></i>
                            Labour Party
                        </span> 
                    </p>
                    <p>
                        <span class="member" data-party="Liberal Democrat">
                            <i class="fa fa-lg fa-user"></i>
                            Liberal Democrat Party
                        </span> 
                    </p>
                    <p>
                        <span class="member" data-party="Labour (Co-op)">
                            <i class="fa fa-lg fa-user"></i>
                            Labour (Co-op) Party
                        </span> 
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <span class="member" data-party="Democratic Unionist">
                            <i class="fa fa-lg fa-user"></i>
                            Democratic Unionist Party
                        </span> 
                    </p>
                    <p>
                        <span class="member" data-party="Scottish National">
                            <i class="fa fa-lg fa-user"></i>
                            Scottish National Party
                        </span> 
                    </p>
                    <p>
                        <span class="member" data-party="Green">
                            <i class="fa fa-lg fa-user"></i>
                            Green Party
                        </span> 
                    </p>
                    <p>
                        <span class="member" data-party="Other">
                            <i class="fa fa-lg fa-user"></i>
                            Other / Independant / Parliamentary Agent
                        </span> 
                    </p>
                </div>
            </div>
            <h3>Why doesn't the text of a Bill match its description?</h3>
            <p>
                Sometimes Bills have names that don't entirely relate to what they seem to be about.
            <p>
            <p>
                In addition, very occationally the wrong text may have been uploaded by Parliament due to human error.
                As there are are over 100 bills before Parliament at any one time (often accompanied by multiple other documents) and the list is updated daily this
                happens from time to time.
            </p>
            <h3>Why doesn't the vote counter update when I vote?</h3>
            <p>
                New votes are incorporated into the tally every few minutes, after checking for duplicate votes in an attempt to minimise ballot stuffing, while keeping voting
                anonymous.
            </p>
            <h3>Are the URLs permentant?</h3>
            <p>
                The URL's for bills are permentant and unchanging.
                Currently the text for a Bill is no longer avalible once a Bill reaches Royal Assent (ready to be enacted and pass into law); this will probably change in future.
            </p>
            <p>
                The URLs for both MPs &amp; Peers should not currently be considered permanent; they will change and be given permanent URLs in future.
            </p>
            <h3>I found a broken page, what should I do?</h3>
            <p>
                Although steps are taken to prevent this, very occationally a badly formated page is displayed, due to encoding errors on the origional version extracted from the Parliament website.
            </p>
            <p>
                You are welcome to report this as a bug to <a href="mailto:feedback@public-scrutiny-office.org">feedback@public-scrutiny-office.org</a>.
            </p>
            <h3>Where I can download the source for this software?</h3>
            <p>
                 You can find the project on GitHub at 
                <a href="https://github.com/iaincollins/public-scrutiny-office">https://github.com/iaincollins/public-scrutiny-office</a>
            </p>
        </div>
    </div>
</div>