<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Frequently Asked Questions</h1>
            <h3>Where does the information on this site come from?</h3>
            <p>
                The information on this site comes directly from <a href="http://www.parliament.uk">parliament.uk</a> website 
                and indirectly via <a href="http://theyworkforyou.com">TheyWorkForYou.com</a>. The text for each Bill is joined
                together from multiple pages and some reformatting done to make it easier to read.
            </p>
            <h3>Why can't I find a Bill I know is before Parliament?</h3>
            <p>
                Only Bills that have had text uploaded for them are displayed on this site. Sometimes it takes a day or two for text 
                to be uploaded, in other cases no text is ever provided (and the the bill is dropped).
            </p>
            <h3>Why doesn't the text of a Bill match its description?</h3>
            <p>
                Sometimes Bills have names that don't entirely relate to what they seem to be about.
            <p>
            <p>
                In addition, very occationally the wrong text may have been uploaded by Parliament due to human error.
                As there are are over 100 bills before Parliament at any one time and the list is updated daily this
                happens from time to time.
            </p>
            <h3>Why doesn't the vote counter update when I vote?</h3>
            <p>
                New votes are incorporated into the tally every few minutes, after checking for duplicate votes in an attempt to minimise ballot stuffing.
                Although as voting is anonymous, it's not possible to prevent this entirely.
            </p>
            <h3>I found a broken page, what should I do?</h3>
            <p>
                Although steps are taken to prevent this, very occationally a badly formated page is displayed, due to encoding errors on the origional version extracted from the Parliament website.
            </p>
            <p>
                You are welcome to report this as a bug to <a href="mailto:feedback@public-scrutiny-office.org">feedback@public-scrutiny-office.org</a>.
            </p>
            <h3>Is there an API for this?</h3>
            <p>
                A simple JSON API which returns a list of Bills along with some metadata.
            </p>
            <p>
                The API returns all Bills that are currently before Parliament or have been recently.
                Unlike the website this also includes Bills for which no text has been submitted yet.
            </p>
            <p>
                The URL for the API is <a href="/bills.json">http://public-scrutiny-office.org/bills.json</a>
            </p>
            <p>
                You can use the <strong>.hasText</strong> property on a bill to check if there is text available for it and the
                <strong>.htmlUrl</strong> and <strong>.textUrl</strong> properties on each Bill object to get the full text of an individual Bill.
            </p>
            <p>
                If you know the URL for a bill you can get info for it in JSON, or just the bill text as HTML or plain text (UTF-8) directly.
            </p>
            <p>
                e.g. for <a href="/bills/2013-2014/alan-turing-statutory-pardon">http://public-scrutiny-office.org/bills/2013-2014/alan-turing-statutory-pardon</a>
            </p>
            <p>
                <strong>JSON</strong>: <a href="/bills/2013-2014/alan-turing-statutory-pardon.json">http://public-scrutiny-office.org/bills/2013-2014/alan-turing-statutory-pardon.json</a>
            <p>
            <p>
                <strong>HTML</strong>: <a href="/bills/2013-2014/alan-turing-statutory-pardon.html">http://public-scrutiny-office.org/bills/2013-2014/alan-turing-statutory-pardon.html</a>
            <p>
            <p>
                <strong>Plain Text</strong>: <a href="/bills/2013-2014/alan-turing-statutory-pardon.text">http://public-scrutiny-office.org/bills/2013-2014/alan-turing-statutory-pardon.text</a>
            <p>
            <h3>Where I can download the source for this software?</h3>
            <p>
                 You can find the project on GitHub at 
                <a href="https://github.com/iaincollins/public-scrutiny-office">https://github.com/iaincollins/public-scrutiny-office</a>
            </p>
        </div>
    </div>
</div>