<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Frequently Asked Questions</h1>
            <h3>Where does the information on this site come from?</h3>
            <p>
                The information on this site comes directly from the <a href="http://www.parliament.uk">parliament.uk</a> website 
                and indirectly via <a href="http://theyworkforyou.com">TheyWorkForYou</a>. The text for each Bill is joined
                together from multiple pages and some reformatting done to make it easier to read.
            </p>
            <h3>Why can't I find a Bill currently before Parliament?</h3>
            <p>
                Check the "Pending" Bills tab on the homepage. Sometimes it takes a day or two for text 
                to be provided. In some cases no text for a Bill is ever provided (and the the Bill is subsequently dropped).
            </p>
            <p>
                Bills before the Scottish Parliament are not yet available to view on the web (though they are available for download as PDF documents).
                Additionally, they don't yet provide public API access to data about Bills or members.
            </p>
            <h3>What do the colored bars next to members names signify?</h3>
            <p>
                They are colour coded according to the Party the member belongs to.
            </p>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <span class="member" data-party="Conservative">
                            <span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span>
                            Conservative Party
                        </span>
                    </p>
                    <p>
                        <span class="member" data-party="Labour">
                            <span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span>
                            Labour Party
                        </span> 
                    </p>
                    <p>
                        <span class="member" data-party="Liberal Democrat">
                            <span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span>
                            Liberal Democrat Party
                        </span> 
                    </p>
                    <p>
                        <span class="member" data-party="Labour (Co-op)">
                            <span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span>
                            Labour (Co-op) Party
                        </span> 
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <span class="member" data-party="Democratic Unionist">
                            <span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span>
                            Democratic Unionist Party
                        </span> 
                    </p>
                    <p>
                        <span class="member" data-party="Scottish National">
                            <span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span>
                            Scottish National Party
                        </span> 
                    </p>
                    <p>
                        <span class="member" data-party="Green">
                            <span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span>
                            Green Party
                        </span> 
                    </p>
                    <p>
                        <span class="member" data-party="Other">
                            <span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span>
                            Other / Independant / Parliamentary Agent
                        </span> 
                    </p>
                </div>
            </div>
            <h3>Why doesn't the text of a Bill match its description?</h3>
            <p>
                Sometimes Bills have names that don't entirely relate to what they seem to be about.
            <p>
            <p>
                In addition, very occationally the wrong text may have been uploaded by Parliament due to human error.
                As there are are over 100 bills before Parliament at any one time (often accompanied by multiple other documents) and the list is updated daily this
                happens from time to time.
            </p>
            <h3>Why doesn't the vote counter update when I vote?</h3>
            <p>
                New votes are incorporated into the tally every few minutes, after checking for duplicate votes in an attempt to minimise ballot stuffing.
                Although as voting is anonymous, it's not possible to prevent this entirely.
            </p>
            <h3>I found a broken page, what should I do?</h3>
            <p>
                Although steps are taken to prevent this, very occationally a badly formated page is displayed, due to encoding errors on the origional version extracted from the Parliament website.
            </p>
            <p>
                You are welcome to report this as a bug to <a href="mailto:feedback@public-scrutiny-office.org">feedback@public-scrutiny-office.org</a>.
            </p>
            <h3>Is there an API?</h3>
            <p>
                A JSON API which returns a list of Bills before Parliament along with some metadata is available:<br/>
                <a href="/bills.json">http://public-scrutiny-office.org/bills.json</a>
            </p>
            <p>
                You can also request just the popular or unpopular bills and bills yet to be published:<br/>
                <a href="/bills/popular.json">http://public-scrutiny-office.org/bills/popular.json</a><br/>
                <a href="/bills/unpopular.json">http://public-scrutiny-office.org/bills/unpopular.json</a><br/>
                <a href="/bills/pending.json">http://public-scrutiny-office.org/bills/pending.json</a>
            </p>
            <p>
                You can use the <strong>.hasText</strong> property on a Bill to check if there is text available for it and the
                <strong>.htmlUrl</strong> and <strong>.textUrl</strong> properties on each Bill object to get the full text of an individual Bill.
            </p>
            <p>
                If you know the URL for a bill you can get info for it in JSON, or just the bill text as HTML or plain text (UTF-8) directly by appending an appropriate file extention.
            </p>
            <p>
                e.g. for <a href="/bills/2013-2014/alan-turing-statutory-pardon">http://public-scrutiny-office.org/bills/2013-2014/alan-turing-statutory-pardon</a>
            </p>
            <p>
                <strong>JSON</strong>: <a href="/bills/2013-2014/alan-turing-statutory-pardon.json">http://public-scrutiny-office.org/bills/2013-2014/alan-turing-statutory-pardon.json</a>
            <p>
            <p>
                <strong>HTML:</strong> <a href="/bills/2013-2014/alan-turing-statutory-pardon.html">http://public-scrutiny-office.org/bills/2013-2014/alan-turing-statutory-pardon.html</a>
            <p>
            <p>
                <strong>Plain Text</strong>: <a href="/bills/2013-2014/alan-turing-statutory-pardon.text">http://public-scrutiny-office.org/bills/2013-2014/alan-turing-statutory-pardon.text</a>
            <p>
            <h3>Where I can download the source for this software?</h3>
            <p>
                 You can find the project on GitHub at 
                <a href="https://github.com/iaincollins/public-scrutiny-office">https://github.com/iaincollins/public-scrutiny-office</a>
            </p>
        </div>
    </div>
</div>