<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Public Scrutiny Office</title>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>        
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
        
        <!--
        <link rel="stylesheet" type="text/css" href="http://assets.annotateit.org/annotator/v1.2.6/annotator.min.css"/>
        <link href="/css/pizza.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
        -->
        
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <!-- <script language="javascript" type="text/javascript" src="/javascript/common.js"></script> -->
        
        <!-- NOTE: AnnotateIt doesn't seem to work with jQuery 1.10.2 so using an older version -->
        <!-- <script src="//code.jquery.com/jquery-1.10.2.min.js"></script> -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        
        <!--
        <script src="//assets.annotateit.org/annotator/v1.2.6/annotator-full.min.js"></script>
        <script src="/js/snap.svg.js"></script>
        <script src="/js/custom.modernizr.js"></script>
        <script src="/js/pizza.js"></script>
        -->

        <!--
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "7bdc2e0f-2338-40fb-9e81-d869aa94adf7", doNotHash: true, doNotCopy: false, hashAddressBar: true});</script>
        -->
    </head>
    <body>
        <div class="navbar navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Public Scrutiny Office</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="/members/">Members</a></li>
                <li><a href="/about/">About</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
        
        <%- body %>
        
        <footer>
            <p style="height: 50px;">&nbsp;</p>
        </footer>
    </body>
</html>