<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Members of Parliament</h2>
            <h2>House of Commons</h2>
            <h2>House of Lords</h2>
        </div>
    </div>
</div>