<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Find out more</h1>
            <p class="lead">
                <strong>New!</strong>
                If you're interested in parliamentary data, the services on parliament.uk or have any questions join in the discussion on <a href="http://feedback.public-scrutiny-office.org">feedback.public-scrutiny-office.org</a>
            </p>
            <h3><i class="fa fa-chevron-right"></i> <a href="/about">About the Public Scrutiny Office</a></h3>
            <h3><i class="fa fa-chevron-right"></i> <a href="/faq">Frequently Asked Questions</a></h3>
            <h3><i class="fa fa-chevron-right"></i> <a href="/api-documentation">API Documentation</a></h3>
            <h3><i class="fa fa-chevron-right"></i> <a href="http://feedback.public-scrutiny-office.org">Feedback &amp; Discussion</a></h3>
            <h3>Other sites you might find useful</h3>
            <p>
                <h4><a href="http://www.parliament.uk">www.parliament.uk</a>- Official website</h4>
            </p>
            <p>
                <h4><a href="http://data.parliament.uk/membersdataplatform/">data.parliament.uk/membersdataplatform/</a> - Official APIs for MPs &amp; Peers</h4>
            </p>
            <p>
                <h4><a href="http://www.theyworkforyou.com">TheyWorkForYou</a> - A wealth of information about MPs and their voting habits</h4>
            </p>
            <p>
                <h4><a href="https://www.writetothem.com">WriteToThem</a> - Contact your MP directly</h4>
            </p>
            <p>
                <h4><a href="http://www.edms.org.uk">Early Day Motions</a> - Information about Early Day Motions</h4>
            </p>
            <!--
            <p>
                <h3><a href="http://www.parlmnt.com">parlmnt.com</a></h3>
            </p>
            -->
          </div>
    </div>
</div>
