<div class="container-fluid" style="position: relative; top: -20px; margin-bottom: 10px;">
    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        <span class="fa-stack fa-lg pull-left logo hidden-xs">
                            <i class="fa fa-bullhorn fa-stack-1x"></i>
                            <i class="fa fa-sun-o fa-stack-2x"></i>
                        </span>
                        <span class="pull-left" style="display: inline-block;">
                            Public Scrutiny Office
                            <br/>
                            <small>What's going on in the UK Parliament</small>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            
            
            <a href="/bills" class="unstyled">
                <div class="commons-jumbo">
                    <h2>
                        Explore Bills before Parliament
                        <i class="fa fa-chevron-right pull-right"></i>
                    </h2>
                </div>
            </a>
            <p class="text-muted" style="padding-top: 0;">
                <small>Parliamentary copyright images are reproduced with the permission of Parliament.</small>
            </p>

            <div class="row">
                 <div class="col-sm-12">
                    <h2>Parliament on YouTube</h2>
                    <div id="youtube-player"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    </br>
                    <h2>About the Public Scrutiny Office</h2>
                    <p class="lead">
                        Discover, vote and comment on new legislation before in Parliament.
                    </p>
                    <p>
                        This site is not-for-profit. the software behind it is open source and <a href="https://github.com/iaincollins/public-scrutiny-office">avalible on GitHub</a>.
                    </p>
                    <p>
                         Not affiliated with <a href="http://parliament.uk">parliament.uk</a>. Contributions, suggestions and ideas welcome!
                    </p>
                </div>
            </div>
            
        </div>
        <div class="col-sm-4">
            <div class="news-sidebar-heading">
                <h2>In the media</h2>
            </div>
            <script src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fnews.google.com%2Fnews%2Ffeeds%3Fhl%3Den%26gl%3Dus%26q%3Duk%2Bparliament%26um%3D1%26ie%3DUTF-8%26output%3Drss&num=10&utf=y&date=y"></script>
          </div>
    </div>
</div>
<script type="text/javascript" src="/js/youtube-player.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52a95ffd67610095" async="async"></script>
<script type="text/javascript" src="//likebtn.com/js/widget.js" async="async"></script>
<script>
    $(document).on('click', 'ul.bills li', function(e){
        if ($(e.target).parents('.likebtn-wrapper').length) {
            // ignore clicks on the voting buttons
            return;
        } else if ($(e.target).parents('*[href]').length || $(e.target).attr('href')) {
            // ignore clicks on the links themselves (so people can still right click)
            return;
        } else {
            window.location = $(this).data('href');
        }
    });

    $('#youtube-player').youTubeChannel({ user: 'UKParliament' });

    $(function() {
        Pizza.init(document.body, {
            "show_percent": false,
            "donut": true
        });
    });
</script>